<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Nash Mvp</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="./img/nash.ico">
    <!-- web3 -->
    <script src="./js/web3.min.js"></script>


    <!-- vue.js -->
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/clipboard.min.js"></script>
    <script src="./js/cytoscape.min.js"></script>
    <script src="./js/cytoscape-cxtmenu.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="./js/vue.js"></script>
    <!-- css -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" crossorigin="anonymous">
    <link type="text/css" rel="styleSheet" href="./css/neon.css" />

    <!-- 强制刷新免遗留 -->
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
</head>

<style scoped>
    #cy {
        position: relative;
        width: 100%;
        height: 30rem;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
    }

    body {
        padding: 1vh;
        /* background-image: url(./img/fqzdj.jpg);
        background-repeat: repeat;
        background-color: #E6E6E6; */
        background-color: #111;
        overflow-x: hidden;
        min-height: 100rem;
        /* overflow-y: hidden;   */
    }

    svg,
    canvas {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    .dropdown-item {
        cursor: pointer;
    }

    .dropdown .show {
        left: -7rem;
        background-color: rgba(0, 247, 255, 0.5);
        position: absolute;
    }

    .msgdropdown .show {
        left: -18rem;
    }
</style>

<body bgcolor="#E6E6FA">

    <script language="javascript" type="text/javascript" src="./js/trianglify.bundle.js"></script>
    <script>
        var pattern = trianglify({
            width: window.innerWidth,
            height: document.body.clientHeight,
        })
        document.body.appendChild(pattern.toCanvas());

    </script>


    <div id="app" style="width: 50%;margin: auto; min-width: 22rem;">
        <!-- background-color: rgba('+`255, 0, 255`+, 0.2); -->
        <!-- :style='{background-color:"("+rdm()+rdm()+rdm()+"0.2)"}'> -->
        <header>
            <div class="card" style="background-color: rgba(255, 0, 255, 0.2);">
                <div class="card-body">
                    <span>
                        <span class="neon" onclick="location.reload();"> <img src="./img/nash.ico">N✌A✊S✋H - #0</span>
                    </span>
                    <span style="float: right;">
                        <div v-if="ethereumC == false" style="background-color: rgba(255, 51, 0, 0.3);"
                            v-html="localize.header.ethwalletNotunLockOrInstall">

                        </div>
                        <div v-else>
                            <!-- 以太坊已连接 -->
                            <span v-if="eAccount == false">
                                {{localize.header.ethwalletLock}}
                            </span>
                            <span v-else>
                                <a type="button" class="btn neon" style="background-color: rgba(0, 255, 115, 0.3);"
                                    href="./play.html">
                                    {{localize.header.ethwalletunLock}}
                                </a>
                                <br>
                                <a type="button" class="btn" style="background-color: rgba(0, 255, 115, 0.3);"
                                    href="./oldplay.html">
                                    点此继续使用无预言机被加入日志提醒的旧前端
                                </a>
                            </span>
                        </div>
                    
                        <button v-if="language == 'zh'" class="dropdown-item btn"
                            @click="internationalization('en')">En</button>
                        <button v-if="language == 'en'" class="dropdown-item btn"
                            @click="internationalization('zh')">中文</button>
                            <div v-html='localize.welcome'>
                            </div>
                    </span>
                </div>
            </div>
        </header>
        <br>
        <div id="element" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000"
            style="position: fixed;right: 1rem;z-index: 5; background-color: rgba(255,215,0,0.4);">
            <div class="toast-header" style="background-color:rgba(255, 215, 0, 0.3)">
                <!-- <img src="./img/nash.ico" class="rounded mr-2" alt="NASH icon" style="width: 1rem;height: 1rem;"> -->
                <img src="./img/nash.ico" class="rounded mr-2" alt="Loop∞ icon" style="width: 1rem;height: 1rem;">
                <strong class="mr-auto" style="padding-right: 1rem;">{{toastTitle}}</strong>
                <small> @{{timeNow}}</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body" style="white-space: pre-line;">{{toastContent}}
            </div>
        </div>
       
    </div>

</body>



<script>

    var myDate = new Date();
    function getLocalTime(nS) {
        return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/, ' ');
    }
    window.onresize = function () {
        // changeMargin();
        app.ratioWH = document.body.clientWidth / document.body.clientHeight;
        document.body.removeChild(document.getElementsByTagName('canvas')[0])
        pattern = trianglify({
            width: window.innerWidth,
            height: document.body.clientHeight,
        })
        document.body.appendChild(pattern.toCanvas());
    };
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                // connection
                ethereumC: false,
                eAccount: false,
                w3: web3js = new Web3(window.ethereum),
                zeroAddress: '0x0000000000000000000000000000000000000000',
                addressLook: '',
                ratioWH: 1,
                //宏观数据
                defaultPage: 0,
                netWork: 'UnSupportYet',
                timeNow: '',
                pageNumber: '',
                //通知数据
                toastTitle: '',
                toastContent: '',
                //国际化
                multilingual: {
                    'zh': {
                        header: {
                            totalMiner: '总铸币人', blockNumber: '区块高度', network: '当前网络', LNSTitle: '环域名系统 LNS', connecting: '区块链连接中ing……',
                            loading: '⏳L⏳O⏳A⏳D⏳I⏳N⏳G⏳……加载中，请稍等',
                            ethwalletNotunLockOrInstall: '以太坊钱包未解锁或未<a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=zh-CN">安装</a>',
                            cfxwalletNotunLockOrInstall: 'CFX钱包未解锁或未<a href="https://chrome.google.com/webstore/detail/confluxportal/opafkgfpaamecojfkaialabagfofilmg?hl=zh-CN">安装</a>',
                            ethwalletLock: '以太坊钱包未解锁',
                            ethwalletunLock: '🗝钱包已解锁, 点击进入🚪',
                        },
                        menu: { mainPage: '主页', inquirePage: '查询', swapPage: '交易所', msgPage: '社交消息', lnsPage: '环域名', graphPage: '图表' },
                        welcome: '<a class="btn btn-danger btn-sm" target="_blank" style="float: right;" href="https://www.yuque.com/books/share/f2a34eb8-6ab2-418a-9a04-7a275af66a4c?#" role="button">Learn More🚀</a>',
                    },
                    'en': {
                        header: {
                            totalMiner: 'TotalMiner', blockNumber: 'BlockNumber', network: 'Network', LNSTitle: 'Loop name system', connecting: 'Connecting block chain……',
                            loading: '⏳L⏳O⏳A⏳D⏳I⏳N⏳G⏳……Please wait',
                            ethwalletNotunLockOrInstall: 'Ethereum wallet locking or not<a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=zh-CN"> install</a>',
                            cfxwalletNotunLockOrInstall: 'Conflux wallet locking or not<a href="https://chrome.google.com/webstore/detail/confluxportal/opafkgfpaamecojfkaialabagfofilmg?hl=zh-CN"> install</a>',
                            ethwalletLock: 'Ethereum wallet locking',
                            ethwalletunLock: '🗝Wallet unlocked, click to enter🚪',
                        },
                        menu: { mainPage: 'Home', inquirePage: 'Account', swapPage: 'Swap', msgPage: 'Message', lnsPage: 'LNS', graphPage: 'Graph' },
                        welcome: '<a class="btn btn-danger btn-sm" target="_blank" style="float: right;" href="https://www.yuque.com/books/share/f2a34eb8-6ab2-418a-9a04-7a275af66a4c?#" role="button">Learn More🚀</a>',
                    }
                },
                language: 'zh',
                localize: '',
                //test
                dt: '',

            }
        },
        //声明周期
        beforeCreat() {

        },
        Created() {

        },
        beforeMount() {
            
            this.localize = this.multilingual['zh'];
        },
        mounted() {
            
        },
        beforeUpdate() {

        },
        updated() {

        },
        beforeDestory() {

        },

        destoryed() {

        },
        //方法
        methods: {
            // // 国际化
            internationalization(_lg) {
                this.language = _lg
                if (_lg == 'zh') {
                    this.localize = this.multilingual['zh'];
                } else if (_lg == 'en') {
                    this.localize = this.multilingual['en'];
                }
            },
            //—————————————————————————————————————————————————Public——————————————————————————————————————————————————————————————
            clipboardSuccess() {
                this.updateToastAndShow('CP', '地址长度错误@查询其他代币余额');
            },
            rdm() {
                return String(Math.floor(Math.random() * 256) + ',');
            },

            // 数据处理方法
            _formatBigNumber(_bn) {
                // return web3js.utils.fromWei(_bn, 'ether');
                return parseFloat(web3js.utils.fromWei(_bn, 'ether')).toLocaleString();
                // parseFloat().toLocaleString();
            },
            async initInfo() {
                await this.getBlockHeight();
                await this.getLoopTotalSupply();
                // this.getMyLNS();
                this.getMyMintingInWallet();
            },
            // 数据获取方法
            async intervalRefresh() {
                await this.initInfo();
                // await this.getMyLNS();
            },
            delyRefresh() {
                this.getMyMintingInWallet();

            },

            async RefreshAccount() {
                this.addressNow = (await ethereum.request({ method: 'eth_accounts' }))[0];
                // this.lookMessageAddress = this.addressNow;
            },

        }
    })
    function connectEthereums() {
        try {
            ethereum.request({ method: 'eth_requestAccounts' }).then((accounts) => {
                app.ethereumC = true;
                app.eAccount = accounts[0];
            })
        } catch (error) {
            console.log(error)
            app.ethereumC = false;
        }
    }


    connectEthereums()


    ethereum.on('accountsChanged', async function (accounts) {
        connectEthereums()
    })
    ethereum.on('networkChanged', function (networkId) {
        connectEthereums()
    })


    var xdt;
    /**
    * @name 剪贴板 for dom
    */
    var clipboard = new ClipboardJS('.toCopy');

    clipboard.on('success', function (e) {
        console.log(e);
        app.updateToastAndShow('Copy', '✅Copied: ' + e.text);
    });

    clipboard.on('error', function (e) {
        console.log(e);
    });


</script>




</html>